# Database Credentials
POSTGRES_USER=user
POSTGRES_PASSWORD=password

# Database Configuration
# Defaulting to localhost:5435 to avoid conflicts with local Postgres on 5432
DATABASE_URL_AUTH=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5435/auth_db
DATABASE_URL_INVENTORY=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5435/inventory_db
DATABASE_URL_SALES=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5435/sales_db
DATABASE_URL_SUPPLIER=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5435/supplier_db

# Security
SECRET_KEY=supersecretkey
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
